body{
  background-color: black !important;
}
#book{
	width: 100%;
	height: 6000px;
}
#book .page{
	background-color:white;
}

button.btn.btn-link{
  text-align: left;
  color: #212529;
}

button.btn.btn-link:hover {
  color: #6959cd;
}